<div class="comments">
    <h3>Comments</h3>
    {{#each this }}
    <section class="comment">
        Comment created by {{user.username}} on {{format_date createdAt}}
        <div class="text">
            {{commentText}}
        </div>
    </section>
    {{/each}}
</div>