<section>
    <h2>Create New Tech Blog Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title of Post</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-title">Content of Post</label>
            <input type="text" id="post-content" name="post-content" />
        </div>
        <button type="submit" class="btn">Create Post</button>
    </form>
</section>

{{!-- returns users posts only if they have created posts --}}
{{#if posts.length}}
<section>
    <h2>Your Tech Blog Posts</h2>
    <ol>
        {{#each post as |post|}}
        <li>
            {{!-- connects to post-info partial --}}
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Your Post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

{{!-- connect to add-post.js --}}
<script src="/javascript/add-post.js"></script>