<section>
    <h2>Create New Tech Blog Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title of Post</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-title">Content of Post</label>
            <input type="text" id="post-content" name="post-content" />
        </div>
        <button type="submit" class="btn">Create Post</button>
    </form>
</section>